* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4E6DF;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Container {
    color: #f4e6df;
    padding: 10px;
}

@media only screen and (min-width: 1000px) {
    .Container {
        background-color: lightblue;
    }
}

.Head {
    background-color: antiquewhite;
    background-image: url(/DATA/IMG/Cover.jpg);
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
}

.Head .Box {
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 20px;
    padding: 16px;
}

.Head .Box .Avatar {
    width: 80px;
    margin: auto;
}

.Head .Box .Avatar img {
    width: 100%;
    display: block;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.Head .Box .Name {
    font-size: 30px;
    font-weight: bold;
}

.Head .Box .Name p {
    font-size: 14px;
    font-weight: 400;
}

.Head .Box .Social {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.Head .Box .Social a {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 2px;
    text-decoration: none;
    height: 40px;
    width: 40px;
}

.Head .Box .Social a:nth-child(1) {
    color: #ffffff;
    background-color: #1877F2;
}

.Head .Box .Social a:nth-child(2) {
    color: #ffffff;
    background-color: #1877F2;
}

.Head .Box .Social a:nth-child(3) {
    color: #ffffff;
    background-color: #b10000;
}

.Head .Box .Social a:nth-child(4) {
    color: #ffffff;
    background-color: #0EBE2C;
}

.Head .Box .Social a:nth-child(5) {
    color: #ffffff;
    background-color: #010101;
}

.Body {
    color: #000000;
}

.Body .Link {
    margin-top: 20px;
}

.Body .Link button {
    display: block;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
}

.Video h2 {
    margin-bottom: 5px;
}

.Video h2 span {
    font-size: 10px;
    font-weight: 400;
}

.VideoShort {
    display: flex;
    gap: 10px;
    max-width: 100%;
    overflow: auto;
    border-radius: 10px;
}

.VideoShort video {
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: #010101;
}

.VideoShort .UpNext {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    height: 300px;
    max-width: 168px;
    min-width: 168px;
    background-color: #1877F2;
    border-radius: 10px;
}

.VideoShort .UpNext a {
    color: #ffffff;
    text-decoration: none;
}

.VideoShort .UpNext i {
    font-size: 40px;
}

#toggleButton {
    position: relative;
    z-index: 1;
}

.Body .Menu {
    display: none;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: -10px;
    text-align: center;
    margin-bottom: 20px;
    animation-duration: 0.5s;
}

.Menu-open {
    display: block !important;
    animation-name: slideDown;
}

.Menu-closed {
    animation-name: slideUp;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

.Body .Menu img {
    width: 100%;
    border-radius: 10px;
}

.Body .Menu h1 {
    font-size: 16px;
    margin: 0 10px;
}

.Footer {
    color: #000000;
    font-size: 12px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    left: 0;
}

.Footer a {
    color: #1877F2;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}