* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: BeFont;
    src: url(/DATA/Font/Be_Vietnam_Pro/BeVietnamPro-Light.ttf);
}

@font-face {
    font-family: BeFontBold;
    src: url(/DATA/Font/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf);
}

:root {
    --Background: #f4f4f4;
    --Text: #333333;
    --Head-Background: #f4f4f4;
    --Head-Text: #b08d57;
    --Head-Shadow: #cccccc;
}

body {
    background-color: var(--Background);
    color: var(--Text);
    font-family: BeFont;
}

button {
    cursor: pointer;
}

.Container {
    padding: 10px;
    min-height: 100vh;
}


.Head {
    background-image: url(/DATA/IMG/Cover.jpg);
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    padding: 4px;
}

.Head .Box {
    color: #ffffff;
    background-color: #00000067;
    border-radius: 18px;
    padding: 16px;
}

.Head .Box .Avatar {
    width: 100px;
    margin: auto;
}

.Head .Box .Avatar img {
    width: 100%;
    display: block;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.Head .Box .Name {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}

.Head .Box .Name p {
    font-size: 16px;
    font-weight: 400;
}

.Head .Box .Social {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.Head .Box .Social a {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 2px;
    text-decoration: none;
    height: 40px;
    width: 40px;
}

.Head .Box .Social a:nth-child(1) {
    color: #ffffff;
    background-color: #1876f2;
}

.Head .Box .Social a:nth-child(2) {
    color: #ffffff;
    background-color: #f21861;
}

.Head .Box .Social a:nth-child(3) {
    color: #ffffff;
    background-color: #007fb9;
}

.Head .Box .Social a:nth-child(4) {
    color: #ffffff;
    background-color: #0EBE2C;
}

.Head .Box .Social a:nth-child(5) {
    color: #ffffff;
    background-color: #010101;
}

.Body {
    margin-top: 10px;
    color: #000000;
}

.Body .Link {
    margin-top: 20px;
}

.Body .Link button {
    display: block;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
}

.Video h2 {
    margin-bottom: 5px;
}

.Video h2 span {
    font-size: 10px;
    font-weight: 400;
}

.VideoShort {
    display: flex;
    gap: 10px;
    max-width: 100%;
    overflow: auto;
    border-radius: 10px;
}

.VideoShort video {
    cursor: pointer;
    max-width: 168px;
    height: 300px;
    border-radius: 10px;
    background-color: #010101;
    background-image: url(/DATA/MEDIA/MediaBG.png);
    background-size: cover;
}

.VideoShort .UpNext {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    height: 300px;
    max-width: 168px;
    min-width: 168px;
    background-color: #1877F2;
    border-radius: 10px;
}

.VideoShort .UpNext a {
    color: #ffffff;
    text-decoration: none;
}

.VideoShort .UpNext i {
    font-size: 40px;
}

#toggleButton {
    position: relative;
    z-index: 1;
}

.Body .Menu {
    color: #000;
    background-color: #f4e6df;
    display: none;
    width: 100%;
    margin-top: -10px;
    text-align: center;
    margin-bottom: 80px;
    animation-duration: 0.5s;
    border-radius: 10px;
    padding-bottom: 10px;
}


.Menu-open {
    display: block !important;
    animation-name: slideDown;
}

.Menu-closed {
    animation-name: slideUp;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

.Body .Menu img {
    width: 100%;
    border-radius: 10px;
}

.Body .Menu h1 {
    font-size: 16px;
    margin: 0 10px;
}

.Footer {
    color: #000000;
    font-size: 12px;
    position: fixed;
    width: 100%;
    bottom: 10px;
    text-align: center;
    left: 0;
    z-index: 3;
}

.Footer a {
    color: #1877F2;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}
.Information {
    padding: 10px ;
}
.Information h1 {
    font-family: BeFontBold;
    font-size: 20px;
}
.Information p {
    margin: 10px 0;
}

@media only screen and (min-width: 1200px) {
    .Container {
        margin: 30px 500px;
        border-radius: 10px;
    }

    .Body .Menu {
        max-width: 100%;
        margin-top: -10px;
    }
}